body{ 
    display: flex;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #1F2937;
    box-sizing: border-box;
    flex-flow: column;
    min-height: 100vh;
    justify-content: space-between;
    margin: 0;
    overflow: auto; /*Leave as auto or scroll. Page breaks on hidden*/
}

/* Start Header + Links */
.header{
    display: flex;
    justify-content: space-between;
    color: whitesmoke;    
    font-size: 24px;  
    align-items: center; 
    margin: -4px 5% 8px 15%;
    font-weight: 700;
    /* border: 2px solid red; */
}
.header a{
    list-style: none;
    text-decoration: none;
    color: whitesmoke;
    font-size: 18px;
    font-weight: 100;
    padding: 0 15px 0 0;
}
/* End Header + Links */

/* Begin Hero section */
.containerhero{
    display: flex;
    justify-content: space-between;
    
    margin-top: 10em;
    margin-left: 15%;
    margin-right: 5%;
    border: 2px solid green;
    
}

.herobox{
    display: flex;
    color: whitesmoke;
    justify-content: space-betee;
    flex-direction: column;
    width: 400px;
    margin-left: 0;
    margin-top: 0;
    /* position:relative; */
    border: 2px solid red;
}
.herotext{
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 10px;
}
.herocon{
    filter:contrast(75%);
    padding-bottom: 10px;
    margin-bottom: 1em;
}
.herobox a{
    color:whitesmoke;
    background-color: #3882F6;
    text-decoration: none;
    padding: 10px 40px;
    font-size: 18px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    width: max-content;
}
.image{
    flex-shrink: 1;
    max-height: 300px;
    
}
/* End Hero Section */

/*Begin Info Section*/
.containerinfo{
    background-color: whitesmoke;
    display: flex;
    border: 2px solid green;
}
/* End Info Section  EERGEROGERGMO EXTRA STUFF HERE. MAE, TRY TO GET WHITE BACKGROUND IN INFO CONTAINER SO YOU CAN SAVE SPACE. NOT A BIG DEAL. SAVE SPACE AFTER. WORRY ABOUT COMPLETING FIRST*/
.containerquote{
    background-color: #E5E7EB;
}
.containersign{
    background-color: whitesmoke;
}
.footer{
    display: flex;
    justify-content: center;
    color: whitesmoke;    
}